/* ================================= 
Flex for Mobile/Desktop
==================================== */

.logo, .email-container, .second-container, .fifth-content, .imageone, .seconds, .descriptions2 {
	display: flex;
}

.email-container, .second-container, .seconds {
	flex-direction: column;
}

.email-container {
	justify-content: center;
}

.second-container {
	align-items: center;
}

.value-props-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* ================================= 
Media Queries/Flex for Desktop
==================================== */
@media (min-width: 769px) {
	.main-header, .menu-list {
		display: flex;
	}

	.logo {
		display: none;
	}

	h3 {
		font-size: 20px;
	}
	.logo2 {
		width: 186px;
		margin-left: 55px;
		margin-top: 10px;
	}	

	.main-header {
		background: none;
	    height: 100px;
    	align-items: center;
    	justify-content: space-between;
    	width: 95%;
        margin-top: 10px;	
	}

	.seconds {
		flex-direction: row;
	}

	.descriptions {
		max-width: 600px;
	}

	.descriptions2 {
		flex-direction: column;
	}

	a:link, a:visited {
		text-decoration: none;
		color: #f9f9f9;
		opacity: 0.28;
	}

	a.selected, a:hover {
  		color: #C4CF7A;
  		opacity: 1;

}

	.menu-item {
		display: inline;
	}

	.email-container {
		flex-direction: row;
	}

	.titles {
	margin-top: 60px;
	margin-bottom: 50px;
}

.first-page {
	height: 700px;
}

#video-wrap {
	bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    height: 700px;
    z-index: -100;
    background: url("../img/videobackup.png");
	}


#my-video, #video-two {
	width: 100%;
	height: auto;
	object-fit: contain;
}

#video-overlay {
  height:56.3vw;
  width: 100%;
  position: absolute;
  z-index: 97;
  /*background-color: #090909;*/
  opacity: 0.42;
  background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.email-button {
	padding: 0;
	width: 100px;

}

.email-container {
	width: 550px;
    margin: 0 auto;
}

input {
	margin-right: 10px;
}

input.email {
	width: 220px;
}

input.name {
	width: 92px;
}

.sign-up-desc {
	width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1.2em;
    margin-top: 40px;    
}

.sign-up {
    text-align: center;
	margin-top: 100px;
	line-height: 1.6;
}

.coupon {
	font-size: 18px;
	margin-top: 15px;
}

.second-container {
	height: 500px;
    width: 76%;
    margin: 0 auto;
}



.imageone {
	height: 229px;
	order: 3;
    margin-top: -7px;
}

.second-desc {
	order: 1;
}

.second-description {
	order: 2;
}

.product {
	display: flex;
    /*width: 76%;*/
    margin: 0 auto;
	max-width: 1039px;
}

#outer-wrap {
	width: 100%; 
	height: 650px;
}

.value-props-container {
	order: 3;
	display: flex;
}
.bottle {
	order: 2;
	margin-top: 25px;
}

#bottleone {
	width: 264px;
}

.value-props-list {
	flex-direction: column;
	align-self: center;
	width: 100px;
}

.value-prop-item {
    color: #62564f;
	min-width: 120px;    
}


.fifth-container {
	background-image: url("../img/bg3.2.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
    background-position: 50% 50%; /**parallax**/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
}

.fifth-content {
    margin: 0 auto;
	color: #3d3c3b;
    margin: 11vh auto;
}

.fifth-overlay {
	background-color: white;
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.95;
}

.final-content {
    width: 600px;
}

.final-overlay {
	background-color: white;
	opacity: 0.95;
	margin: 30px;
    width: 600px;
    margin: 0 auto;
}

.beads {
	image
}

.inner-beads {
	display: flex;
	flex-direction: row;
}

.fifth-desc {
    margin: 0 auto;
	width: 75%;
	z-index: 2;
}

.fifth-title {
	z-index: 2;
    margin-top: 50px;
    margin-bottom: 20px;
}

#fifth-description2 {
	margin-bottom: 50px;
}
.sixth-desc {
    margin-top: 15px;
}

.fourth-title {
	text-align: left;
}

.fourth-desc {
	margin: 15px;
}

.inner-beads {
	display: flex;
	height: 450px;
	width:auto;
}

.larger-beads {
	height: 400px;
	align-self: flex-end;
}

@media (min-width: 769px) {
.final-container {
	background-image: url("../img/bg5.2.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #f9f9f9;
	height: 600px;
    background-position: 50% 50%; /**parallax**/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.final-coupon, .final-desc, .final-title {
	color: #3d3c3b;
}
}


/*CSS Parallax background
video#videobg { 
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	z-index: -100;
	/*background: url('images/poster.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
*/
}