* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
  margin: 0px auto;
}

html, body, p, h1, h2, h3, li {
  font-family: 'GeosansLight', sans-serif;
  font-weight: 300;
  color: #3d3c3b;
}

h1 {
	font-family: 'Prata', serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 6.3px;
	font-size: 2em;
}

h2 {
	margin-bottom: 20px;
    font-size: 1.2em;
    color: #F2F1F1;
    text-align: center;
}

b {
	color: #97bd48;
}

h3 {
	line-height: 37px;
}

@media (max-width: 768px) {
.logo {
	width: 53%;
	margin: auto;
	padding: 5px 0 5px 0;
	justify-content: center;
	display: block;
}

.logo2 {
	display: none;
}
}

.menu-item {
  list-style: none;
  padding: 10px;
  color: #C3D075;
  font-size: 1.1em;
  display: none;
}

/************links********************/

button:hover {
	background-color: #84A53E;
}

/************background **************/
@media (max-width: 768px) {
.first-page {
	background:rgba(47, 39, 39, .60);
	background-image: url("../img/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
/*	height: 100%;*/
}

#video-wrap, #videotwo-wrap {
	display: none;
}
}

/************JS CHANGE!**************/



/*************************************/

.main-header {
	    background-color: rgba(255,255,255,0.55);
}

.sign-up, .sign-up-desc, .coupon {
	color: #F2F1F1;
}

.sign-up {
    margin-left: 5px;
    margin-right: 5px;
}

.sign-up {
	font-size: 1.4em;
    text-align: center;
}

.sign-up-desc, h2 {
	margin-left: 31px;
    margin-right: 31px;
    text-align: center;
}

.form {
	padding: 10px 53px 0px 53px;
	margin-bottom:7px;
}

input {
	font-family: 'GeosansLight';
    font-size: 13px;	
}

button {
	font-family: 'GeosansLight';
    font-size: 14px;
    font-weight: bold;		
}

input.email, input.name {
	padding: 10px 0px 10px 6px;
	border: 1px solid #3d3c3b;
	border-radius: 3px;
	margin-bottom: 4px;
}

.email-button {
	color: #f9f9f9;
	padding: 11px;
	background-color: #97bd48;
	border: 1px solid #97bd48;
	border-radius: 3px;
	margin-bottom: 4px;
}

@media (max-width: 550px) {
input.email, input.name, .email-button {
	min-width: 214px;
}
}

.coupon {
    margin-top: 5px;
	font-size: 10.46px;
	text-align: center;
    padding-bottom: 20px;
}

.imageone {
	margin: 0 auto;
	margin-bottom: 18px;
	height: 200px;
}

.titles {
	font-size: 2em;
    text-align: center;
    margin: 5%;
}

.descriptions {
	margin: 0px 31px 10px 31px;
    text-align: left;

}

.descriptions2 {
	flex-direction: column;
}

.second-desc,

/*************PHOTOSWIPE************/


.photoswipe {
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.photoswipe {
		display: none;
	}
}

/*************************************/

#bottleone, .ayurvedic {
	width: 100%;
}

.value-props-list {
	padding: 0;
}

.value-prop-item {
	list-style: none;
	padding: 10px 5px;
  	font-size: 1em;
  	width: calc(100%/4.24);
  	color: #c4cf7a;
  	font-style: italic;
    margin: 5px 20px;
    font-family: 'mrseav';
}

@media (max-width: 768px) {
.value-prop-item {
    /*display: inline-block; fixing iphone 5*/
}
}

.fourth-desc {
	margin: 31px;
}

.fifth-content {
	flex-direction: column;
}
.fifth-desc {
	margin-left: 45px;
	margin-right: 45px;
}

@media (max-width: 768px) {
.fifth-container {
	background-image: url("../img/bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #f9f9f9;
	height: 100%;
}
}

@media (max-width: 768px) {
.fifth-desc, .fifth-title {
	color: #f9f9f9;
}

.fifth-title {
    margin-bottom: 15%;	
}
}

@media (max-width: 768px) {
.beads {
	background-image: url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 377px;
}

.larger-beads {
	display: none;
}
}

@media (min-width: 769px) {
.beads {
	background-image: url("../img/bg4.2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
}

.sixth-desc {
	margin-bottom: 17%;

}

@media (max-width: 768px) {
.final-container {
	background-image: url("../img/bg5.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #f9f9f9;
	height: 600px;
    background-position: 50% 50%; /**parallax**/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
}

.final-title {
	margin-top: 91px;
}

#video-two {
	display: none;
}

@media (min-width: 769px) {
#video-two {
	display: block;
	height: auto;
    width: 100%;
}
}

#quote, #hindu {
	font-family: 'mrseav';
	font-style: italic;
	font-size: 17px;
}

span {
	font-size: 37px;
}
}

/*///////////Thank you page styling//////////*/

.tylogo {
  margin-left: auto;
  margin-right:auto;
  /*margin-top: 4vw;*/

  margin-top: 60px;
  margin-bottom: 25px;
  display: flex;
}

.tyhomeimage {
  background-image: url("../img/soapberry.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7vw; 
}

.social {
  margin-top: 2%;
  margin-bottom: 4%;


}
