* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
  margin: 0px auto;
  color: #61554F;
}

html, body, p, h1, h3, li {
  font-family: 'GeosansLight', serif;
  font-weight: 300;
  color: #606060;
}

h3 {
	line-height: 25px;
}

.logo {
	width: 53%;
	margin: auto;
	padding: 5px 0 5px 0;
}

.menu-item {
  list-style: none;
  padding: 10px;
  color: #A09FA0;
  font-size: 1.1em;
  display: none;
}

/************links********************/

email-button:hover {
	background-color: #C3D032;
}

/************background **************/

.first-page {
	background:rgba(47, 39, 39, .60);
	background-image: url("../img/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*************************************/

.main-header {
	    background-color: rgba(255,255,255,0.55);
}

.sign-up, .sign-up-desc, .coupon {
	color: #f9f9f9;
}

.sign-up {
	font-size: 12vw;
    text-align: center;
}

.sign-up-desc {
	margin-left: 31px;
    margin-right: 31px;
}

.form {
	padding: 10px 53px 0px 53px;
	margin-bottom:7px;
}

input.email, input.name {
	padding: 10px 0px 10px 6px;
	border: 1px solid #413838;
	border-radius: 3px;
	margin-bottom: 4px;
}

.email-button {
	color: #f9f9f9;
	padding: 11px 83px;
	background-color: #C3D075;
	border: 1px solid #C3D075;
	border-radius: 3px;
	margin-bottom: 4px;
}

.coupon {
    margin-top: 5px;
	font-size: 10.46px;
	text-align: center;
    padding-bottom: 10vh;
}

.imageone {
	width: 229px;
	margin: 0 auto;
	margin-bottom: 18px;
}

.titles {
	font-size: 3em;
    text-align: center;
    margin: 5%;
}

.descriptions {
	margin-left: 31px;
    margin-right: 31px;
    margin-top: 0px;

}

/*************PHOTOSWIPE************/

.photoswipe {
	width: 100%;
	height: auto;
}

/*************************************/

#bottleone, .ayurvedic {
	width: 100%;
}

.value-props-list {
	padding: 0;
}

.value-prop-item {
	list-style: none;
	padding: 10px 5px;
  	font-size: 1em;
  	width: calc(100%/4.24);
  	color: #96A156;
  	font-style: italic;
    margin: 5px 20px;
}

.fourth-desc {
	margin: 31px;
}

.fifth-desc {
	margin-left: 45px;
	margin-right: 45px;
}

.fifth-container {
	background-image: url("../img/bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #f9f9f9;
	height: 100%;
}

.fifth-desc, .fifth-title {
	color: #f9f9f9;
}

.fifth-title{
	padding: 30px 0px;
}


.beads {
	background-image: url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 377px;
}

.sixth-desc {
	margin-bottom: 17%;

}

.final-container {
	background-image: url("../img/bg5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.final-title {
	margin-top: 91px;
}